@font-face { font-family: Montserrat-Bold; src: url('./assets/fonts/montserrat/Montserrat-Bold.otf'); }
*{
	color:#5C5C5C;
}
@media only screen and (max-width: 1026px){
	.onlywide {
		display: none;
	}
	.logo-height {
		height: 30px;
	}
}
a.nav-link{
	font-weight: 500;
}
.tag-top{
	left:10%;
}
.fa-ul li{
	padding:7px 0px;
}
h1.header{
	font-family: 'Montserrat-Bold';
}
.montserrat-bold{
	font-family: 'Montserrat-Bold';
}
.border-color{
	border-color:#F1F1F1;
}
.border-bottom{
	border-color:#F1F1F1;
}
div.gallery{
	position: relative;
	margin:0px 10px;
	width:300px;
	margin-bottom: 50px;
}
div.gallery img{
	max-width: 100%;
	height: auto;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
div.desc{
	padding: 15px;
	text-align: center;
	position: absolute;
	bottom: -50px;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
}



.price-list-container{
  display: flex;
  justify-content: center;
}
.price-list-container > div{
  position: relative;
  width: 280px;
  text-align: center;
  border:1px solid #F1F1F1;
  border-left:none;
}
.price-list-container > div:nth-child(1){
	border:1px solid #F1F1F1;
}
.price-list-container table{
	width:100%;
	border-collapse: collapse;
}
.price-list-container table::after, .price-list-container table::before {
	box-sizing: unset !important;
}
.price-list-container .package-name {
	font-size: 24px;
	font-family: 'Montserrat-Bold';
	border-bottom:1px solid #F1F1F1;
}
.price-list-container .price-cross {
	text-decoration: line-through;
}
.price-list-container .price-real,
.price-list-container .user {
	border-bottom:1px solid #F1F1F1;
}
.price-list-container .price-real .b{
	font-family: 'Montserrat-Bold';
}
.price-list-container .price-real .upsize{
	font-size: 50px;
	vertical-align: middle;
}
.price-list-container td {
	padding: 2px 0px;
}
.price-list-container button {
	border-radius: 500px;
	font-weight:bold;
	border:2px solid;
}
.price-list-container .bi-star-fill {
	color:#008FEE;
}
.price-list-container .best-seller{
	border:1px solid #008FEE !important;
}

.price-list-container .best-seller .package-name,
.price-list-container .best-seller .package-name *,
.price-list-container .best-seller .price-cross,
.price-list-container .best-seller .price-cross *,
.price-list-container .best-seller .price-real,
.price-list-container .best-seller .price-real *{
	color:#ffffff !important;
	background-color:#008FEE;
	border-bottom:none;
}
.price-list-container .best-seller .user,
.price-list-container .best-seller .user *{
	color:#ffffff !important;
	background-color:#007FDE;
	border-bottom:none;
}
.price-list-container .best-seller button{
	background-color:#008FEE;
	color:#ffffff;
}
.price-list-container .best-seller .ribbon {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	border: 40px solid transparent;
	border-bottom: 40px solid #00B359;
	position: absolute;
	top: -27px;
	left: -57px;
	padding: 0 10px;
	width: 140px;
	color: white;
	font-family: sans-serif;
	size: 11px;
}
.price-list-container .best-seller .ribbon .txt {
	position: absolute;
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	width: 200%;
	top: 12px;
	left: -31px;
}
.price-list-container .best-seller .ribbon2 {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	border: 40px solid transparent;
	border-top: 40px solid #007832;
	position: absolute;
	top: 30px;
	left: -1px;
	padding: 0 10px;
	width: 140px;
	color: white;
	font-family: sans-serif;
	size: 11px;
	z-index: -1;
}
.php-power .list-group-item{
	text-align:center;
}
.php-power .list-group-item:nth-child(even){
	background-color:#F7F7F7;
}
.php-power .fa-li{
	left:10px;
}
hr{
	border: 3px solid #F1F1F1;
	background-color: #F1F1F1;
	border-radius: 100px;
	width: 100px;
	margin: 50px auto;
}
.package-hosting-include .gallery{
	margin-bottom: 110px;
	width: 350px;
}
.package-hosting-include .gallery img{
	max-width:65px;
}
.package-hosting-include .gallery .desc{
	bottom: -110px;
}
.package-hosting-include .gallery .desc .a{
	font-weight:bold;
	font-size:21px;
}
.package-hosting-include .gallery .desc div{
	font-size:15px;
	font-weight: 500;
}
.btn-blue{
	background-color: #008FEE;
	color: #ffffff;
	border-radius: 500px;
	font-weight: bold;
	border: 2px solid;
}
.btn-blue:hover{
	color: #ffffff;
}
.btn-black{
	border-radius: 100px;
	border: 3px solid;
	font-weight: bold;
}
.sharing-bar{
	background-color:#F7F7F7;
	font-weight: 500;
}
.contact-bar{
	background-color:#00A2F3;
}
.contact-bar *{
	color:#ffffff;
	font-size:28px;
}
.contact-bar .row{
	padding:55px 0px;
}
.contact-bar .bar-btn{
	border-left:1px solid #00ADF9;
	padding-left:70px;
}
.contact-bar button{
	border-radius: 500px;
}
.footer-bar{
	background-color:#303030;
	padding: 60px 0px;
	font-size: 13px;
}
.footer-bar ul{
	margin:0px;
	padding:0px;
}
.footer-bar li{
	list-style-type: none;
	color:#8F8F8F;
}


/* Share Button Dengan Counter by IGNIEL.COM */
.igniel-share-button .igniel-share svg {width:25px;height:25px; vertical-align:-8px; text-align:left}
.igniel-share-button .igniel-share svg path {fill:#fff}
.igniel-share-button {
	display: block;
	/* margin-top: 20px; */
	line-height: 0px;
	background: transparent;
	width: 100%;
	max-width: 738px;
	/* padding: 20px 0; */
	/* border-top: 2px solid #dddfe2;*/
}
.igniel-share-button .igniel-share {display: block;} .igniel-share-button .igniel-share .wrap {text-align: center; margin: 0 auto; display: none; min-width: 40px;} .igniel-share-button .igniel-share .wrap1 {float:left; display: inline-block; width:50%; text-align:center}  .igniel-share-button .igniel-share ul {margin:0px; padding:0px;}
.igniel-share-button .igniel-share ul li {width:12.4%; margin-left:3px; line-height: 35px; list-style: none; list-style-type: none; padding:0px; display:inline-block; font-size: 12px; text-align:center; color: #fff; border: 1px solid rgba(0,0,0,0.04); -webkit-transition: all 0.4s ease-in-out; -moz-transition: all 0.4s ease-in-out; -ms-transition: all 0.4s ease-in-out; -o-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out; }
.igniel-share-button .igniel-share ul li a, .igniel-share-button .igniel-share ul li a:hover {color: #FFF !important; cursor: pointer; text-decoration: none;}
.igniel-share-button .igniel-share .btn_fb {background: #3a579a;} .igniel-share-button .igniel-share .btn_fb:hover { background: #314a83; }
.igniel-share-button .igniel-share .btn_twtr {background: #00abf0} .igniel-share-button .igniel-share .btn_twtr:hover { background: #0092cc; }
.igniel-share-button .igniel-share .btn_gplus {background: #df4a32;} .igniel-share-button .igniel-share .btn_gplus:hover { background: #be3f2b; }
.igniel-share-button .igniel-share .btn_pntrst {background: #cd1c1f;} .igniel-share-button .igniel-share .btn_pntrst:hover { background: #ae181a; }
.igniel-share-button .igniel-share .btn_linkedin {background: #2554BF;} .igniel-share-button .igniel-share .btn_linkedin:hover {
background: #224EB4; }
.igniel-share-button .igniel-share .btn_stumbleupon {background: #EB4823} .igniel-share-button .igniel-share .btn_stumbleupon:hover {
background: #d23614; }
.igniel-share-button .igniel-share .btn_tumblr {background: #314358} .igniel-share-button .igniel-share .btn_tumblr:hover {
background: #2e3f52; }
.igniel-share-button .igniel-share .share {width:auto; height:auto; line-height:0px; margin-bottom
:20px; margin-right:5px; border:0px}
.igniel-share-button .igniel-share .share .count.h4 {font-size:18px; font-weight:bold; font-family:Arial,sans-serif; text-align:center; color:#cc0000; margin:0px; padding:0px; position: relative; top:-17px}
.igniel-share-button .igniel-share .share .count.h4:after {font-weight:bold; font-size:11px; color:#008c5f; content:'SHARE'; display:block; position:relative; bottom:-18px}
.igniel-share-button .igniel-share .btn_fb .share-btn, .igniel-share-button .igniel-share .btn_twtr .share-btn, .igniel-share-button .igniel-share .btn_gplus .share-btn, .igniel-share-button .igniel-share .btn_pntrst .share-btn, .igniel-share-button .igniel-share .btn_linkedin .share-btn, .igniel-share-button .igniel-share .btn_stumbleupon .share-btn, .igniel-share-button .igniel-share .btn_tumblr .share-btn {display:block; overflow: hidden; width:50%; text-align:center; background-color: rgba(0,0,0,0.13); white-space:nowrap}
@media only screen and (max-width:1024px){.igniel-share-button .igniel-share ul li {width:11%}}
@media screen and (max-width:480px) {.igniel-share-button .igniel-share ul li{width:10%} .igniel-share-button .igniel-share .btn_fb .share-btn, .igniel-share-button .igniel-share .btn_twtr .share-btn, .igniel-share-button .igniel-share .btn_gplus .share-btn, .igniel-share-button .igniel-share .btn_pntrst .share-btn, .igniel-share-button .igniel-share .btn_linkedin .share-btn, .igniel-share-button .igniel-share .btn_stumbleupon .share-btn, .igniel-share-button .igniel-share .btn_tumblr .share-btn {display:none} 
.igniel-share-button .igniel-share .wrap1{width:100%}
.igniel-share-button .igniel-share .share{top:-5px; margin-right:0px}}
@media screen and (max-width:320px) {.igniel-share-button .igniel-share ul li{width:9%}}

